* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin:0 auto;
  background:#fff;
  font-family: "微软雅黑",Arial, Helvetica, sans-serif,\u5FAE\u8F6F\u96C5\u9ED1;
  color:#333;
}
html,body {
  max-width: 720px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #333;
}
ol, ul {
  list-style: none;
}
.fn-textcenter {
  text-align: center;
}